.main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.wordRow {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 4pt 0.8rem;
  background-color: var(--background-secondary-color);
  border-radius: 0.8rem;
  margin-bottom: 0.8rem;
}

.hr {
  background-color: var(--background-color);
  height: 2pt;
  margin: 0.5rem 0rem;
  width: 100%;
}

.wordContainer {
  align-self: stretch;
  flex-grow: 1;
}

.wordText {
  font-size: 0.85rem;
}

.icon {
  height: 3rem;
  width: 3rem;
}

.iconStart {
  margin-right: 0.5rem;
}

.iconEnd {
  margin-left: 0.5rem;
}

.defHr {
  background-color: var(--foreground-color-dim);
  height: 1pt;
  width: 80%;
}

.defText {
  font-size: 0.7rem;
  margin-bottom: 0.1rem;
  margin-left: 0.5rem;
}