
.main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: var(--background-secondary-color);
  border-radius: 10pt;
}

.wordRow {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 4pt 10pt;
}

.hr {
  background-color: var(--background-color);
  height: 1pt;
  width: 80%;
}

.wordContainer {
  align-self: stretch;
  flex-grow: 1;
}

.wordText {
  font-size: 14pt;
}

.title {
  text-align: center;
  padding: 5pt;
}

.titleHr {
  background-color: var(--background-color);
  height: 2pt;
  width: 100%;
}

.icon {
  height: 20pt;
  width: 20pt;
}

.iconStart {
  margin-right: 8pt;
}

.iconEnd {
  margin-left: 8pt;
}