.main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.wordRow {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 4pt 10pt;
  background-color: var(--background-secondary-color);
  border-radius: 10pt;
  margin-bottom: 10pt;
}

.hr {
  background-color: var(--background-color);
  height: 2pt;
  margin: 5pt 0pt;
  width: 100%;
}

.wordContainer {
  align-self: stretch;
  flex-grow: 1;
}

.wordText {
  font-size: 0.85rem;
}

.icon {
  height: 40pt;
  width: 40pt;
}

.iconStart {
  margin-right: 8pt;
}

.iconEnd {
  margin-left: 8pt;
}

.defHr {
  background-color: var(--foreground-color-dim);
  height: 1pt;
  width: 80%;
}

.defText {
  font-size: 0.7rem;
  margin-bottom: 3pt;
  margin-left: 8pt;
}