@use '../../../mixins' as *;

.main {
  background-color: var(--background-secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 0.5rem;
  height: 100vh;

  @include mobile {
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    padding: 2pt 0.5rem;
  }
}

.logo {
  margin-bottom: 1rem;

  @include mobile {
    align-self: center;
    margin-bottom: 0rem;
  }
}

.mobileSpacer {
  @include mobile {
    flex-grow: 1;
  }
}

.spacer {
  flex-grow: 1;
}

.signoutButton {
  background-color: transparent;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  text-shadow: none;
  // padding: 0.5rem;
}

.signoutButton:hover {
  background-color: var(--background-color);
  border-radius: 0.5rem;
}

.signoutIcon {
  text-align: center;
  width: 2rem;
  height: 2rem;
  color: var(--foreground-color);

  @include mobile {
    width: 1.5rem;
    height: 1.5rem;
  }

}

.themeButton {
  background-color: transparent;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  text-shadow: none;
  padding: 0.5rem;
}

.themeButton:hover {
  background-color: var(--background-color);
  border-radius: 0.5rem;
}

.themeIcon {
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  color: var(--foreground-color);
}

.hr {
  height: 1pt;
  background-color: var(--background-color);
  align-self: stretch;
  margin: 0.5rem;
}

.confirmContainer {
  display: flex;
  flex-direction: column;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.yesButton {
  background-color: transparent;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  text-shadow: none;
  padding: 0.5rem;
}

.yesButton:hover {
  background-color: var(--background-color);
  border-radius: 0.5rem;
}

.noButton {
  background-color: transparent;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  text-shadow: none;
  padding: 0.5rem;
}

.noButton:hover {
  background-color: var(--background-color);
  border-radius: 0.5rem;
}

.confirmYesIcon {
  text-align: center;
  width: 1rem;
  height: 1rem;
  color: var(--error-color);
}

.confirmNoIcon {
  text-align: center;
  width: 1rem;
  height: 1rem;
  color: var(--foreground-color);
}

.warningText {
  font-size: 0.6rem;
  text-align: center;
  color: var(--error-color)
}