@use '../mixins' as *;

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100dvw;
  background: linear-gradient(
    to bottom,
    var(--background-color),
    var(--background-secondary-color-2)
  );
}

.register{
  margin-top: 0.8rem;
}

.subText {
  color: var(--foreground-color-dim);
  font-size: 0.7rem;
}

.entry-input {
  min-width: 250pt;
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem;

  @include mobile {
    min-width: 150pt;
    width: 100%;
  }
}

.submit {
  margin-left: 0.5rem;
  padding: 0.5rem 0.5rem;
}

.logo {
  align-self: center;
  margin-bottom: 1rem;
}

.title {
  color: var(--foreground-color);
  margin-bottom: 0.5rem;
}

.entry-container {
  flex-direction: row;
  justify-content: center;
  background-color: var(--background-secondary-color);
  border-radius: 0.8rem;
  padding: 0.2rem;
}

.error {
  color: var(--error-color);
}
