@use '../../../../mixins' as *;

.main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border-radius: 0.5rem;
  background-color: var(--background-secondary-color);
  padding: 0.8rem;

  @include mobile {
    padding: 0rem;
    background-color: transparent;
  }
}

.fl {
  color: var(--foreground-color-2);
}

.flTitle {
  margin-right: 0.5rem;
}

.sn {
  text-align: end;
  margin-top: 0.1rem;
  margin-right: 0.5rem;
  width: 1.2rem;
  color: var(--foreground-color-2)
}

.vis {
  margin-left: 0.5rem;
  margin-bottom: 0.1rem;
  color: var(--foreground-color-1)
}

.senseRow {
  display: flex;
  flex-direction: row;
}

.senseColumn {
  display: flex;
  flex-direction: column;
}

.alsoTitle {
  margin-top: 0.5rem;
  font-style: italic;
  color: var(--foreground-color);
  margin-left: 0.5rem;
}

.alsoText {
  color: var(--foreground-color-2);
  margin-left: 0.8rem;
}

.unsText {
  margin-left: 0.5rem;
  margin-top: 0.1rem;
  font-size: small;
}

.dtText {
  margin-left: 0.5rem;
  font-size: medium;
  margin-top: 0.1rem;
}

.shortDef {
  // background-color: beige;
  margin-bottom: 0.1rem;
}

.majorDescriptor {
  font-size: medium;
  // font-weight: bold;
}

.groupingContainer {
  padding: 0pt 0.8rem;
  @include mobile {
    padding: 0pt 0.5rem;
  }
}

.majorContainer {
  padding: 0.8rem;
  @include mobile {
    padding: 0.5rem;
  }
}

.hr {
  height: 1pt;
  align-self: stretch;
  width: 100%;
  background-color: var(--foreground-color-dim);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}