

.main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.fl {
  color: var(--foreground-color-dim);
}

.flTitle {
  margin-right: 5pt;
}

.shortDef {
  // background-color: beige;
  margin-bottom: 3pt;
}

.hr {
  height: 1pt;
  align-self: stretch;
  color: var(--foreground-color-dim);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}