
.main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: var(--background-secondary-color);
  border-radius: 10pt;
  padding: 10pt;
}

.hr {
  background-color: var(--background-color);
  height: 1pt;
  margin: 5pt;
  margin: 5pt 0pt;
}