@use '../../../../mixins' as *;

.selectedForeground {
  color: var(--on-accent-color);
}

.selectedBackground {
  background-color: var(--accent-color);
}

.unselectedBackground {
  background-color: var(--background-color);
}

.unselectedForeground {
  color: var(--foreground-color);
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 0.8rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  align-self: stretch;
  
  @include mobile {
    margin-bottom: 0rem;
    align-self: center;
    min-width: 4rem;
  }
}

.linkIcon {
  color: var(--foreground-color);
  text-align: center;
  width: 3rem;
  height: 3rem;

  @include mobile {
    width: 1rem;
    height: 1rem;
  }
}

.title {
  text-align: center;
  color: var(--foreground-color);
  white-space: nowrap;

  @include mobile {
    font-size: 0.7rem;
  }
}

