@use '../../mixins' as *;

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10pt;
  margin: 10pt;

  @include mobile {
    padding: 5pt;
    margin: 2pt;
  }
}

.icon {
  width: 18pt;
  height: 18pt;
  margin-right: 10pt;

  @include mobile {
    width: 40pt;
    height: 40pt;
    margin-right: 5pt;
  }
}

.favoriteIcon {
  color: var(--accent-color);
}

.unFavoriteIcon {
  color: var(--foreground-color-dim);
}

.titleBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-secondary-color);
  padding: 10pt;
  margin-bottom: 10pt;

  @include mobile {
    padding: 5pt;
    margin-bottom: 5pt;
  }
}

.title {
  font-size: 1.3rem;
}
