@use '../mixins' as *;

.main {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  height: 100vh;
  width: 100vw;
  
  @include mobile {
    flex-direction: column;
  }
}

.sideNav {
  background-color: var(--background-secondary-color);
  height: 100vh;
  width: auto;

  @include mobile {
    display: none;
  }
}

.bottomNav {
  display: none;
  height: auto;
  margin-bottom: env(safe-area-inset-bottom);
  width: 100%;

  @include mobile {
    display: block;
    position: absolute;
    left: 0pt;
    right: 0pt;
    bottom: env(safe-area-inset-bottom);
  }
}

.container {
  align-self: stretch;
  flex-grow: 1;
  height: 100vh;
  overflow: scroll;
}