@use '../mixins' as *;

.main {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  height: 100dvh;
  width: 100dvw;
  
  @include mobile {
    flex-direction: column;
    margin-bottom: env(safe-area-inset-bottom);
  }
}

.sideNav {
  height: 100vh;
  width: auto;

  @include mobile {
    display: none;
  }
}

.bottomNav {
  display: none;
  height: auto;
  width: 100%;

  @include mobile {
    display: block;
    // position: absolute;
    // left: 0pt;
    // right: 0pt;
    // bottom: 0pt;
  }
}

.container {
  align-self: stretch;
  flex-grow: 1;
  background: linear-gradient(
    to bottom,
    var(--background-color),
    var(--background-secondary-color-2)
  );
  // height: 100vh;
  overflow: scroll;
  @include mobile {
    padding-bottom: 10pt;
  }
}