@use '../mixins' as *;

.main {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0.8rem;
  overflow: scroll;

  @include mobile {
    flex-direction: column-reverse;
    padding: 0.5rem;
  }
}

.title {
  color: var(--foreground-color);
  margin-bottom: 0.5rem;
}

.entryContainer {
  flex-direction: row;
  justify-content: center;
  background-color: var(--background-secondary-color);
  border-radius: 0.8rem;
  padding: 1rem;
  margin-bottom: 0.8rem;

  @include mobile {
    padding: 0.5rem;
  }
}

.inputRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchIcon {
  width: 1rem;
  height: 1rem;
  color: var(--foreground-color);
  margin-right: 0.5rem;
}

.error {
  color: var(--error-color);
}

.entryInput {
  min-width: 350pt;
  margin-bottom: 0.8rem;
  padding: 0.5rem 0.5rem;
  
  @include mobile {
    min-width: 100%;
  }
}

.submit {
  margin-left: 0.5rem;
  padding: 0.5rem 0.5rem;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;

  @include mobile {
    margin-bottom: 0.1rem;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: scroll;
    max-height: 100%;
  }
}

.infoItem {
  margin: 0.8rem;
  min-width: 250pt;
  @include mobile {
    align-self: stretch;
    width: 100%;
    margin: 0.5rem 0rem;
  }
}